---
title: Not enough minis
---

{% extends "layouts/default.njk" %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>{{ title }}</h1>

				<p>Hola qué tal</p>
			</div>
		</div>
	</div>

{% endblock %}
